$col-primary: #00CCFF;
$col-secondary: #9DEBFF;

$col-gray-1: #A6A6A6;
$col-gray-2: #8C8C8C;
$col-gray-3: #737373;
$col-gray-4: #595959;
$col-gray-5: #404040;
$col-gray-6: #333333;
$col-gray-7: #262626;
$col-gray-8: #1A1A1A;

$navbar-height: 55px;
$authentication-padding: 70px;